{% load static %}
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'blog/img/about.jpg' %}" alt="Image">
                    <button href="#" class="btn-play" data-bs-toggle="modal" data-bs-target="#video_modal"
                            data-bs-video-url="https://www.youtube.com/embed/-NIVtXzdDLI"><span></span>
                    </button>

                    <!-- Модальное окно - вызывается с разным содержимым, в зависимости от того, какая кнопка была нажата -->
                    <div class="modal fade" id="video_modal" tabindex="-1" aria-labelledby="videoInterview"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <iframe width="100%" height="450" src="" class="d-block"
                                            title="интервью с клиентами"
                                            frameborder="0" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--                            TODO перенести скрипт модального окна в js файл -->
            <script>
                // 'use strict'


                function OpenVideoModal(htmlId, htmlDataAttr) {

                    const videoModal = document.getElementById(htmlId);
                    let iframe;

                    // событие, возникающее при отображении модального окна
                    videoModal.addEventListener('show.bs.modal', function (event) {
                        // Кнопка, которая вызвала данный модал
                        const button = event.relatedTarget;
                        // Вытаскиваем данные из аттрибута data-bs-video-url*
                        // в нашем случаем там содержится ссылка на видео
                        const videoUrl = button.getAttribute(htmlDataAttr);
                        // для отладки - в консоль
                        console.log(videoUrl)

                        // ссылка на фрейм с видео в разметке
                        iframe = videoModal.querySelector('.modal-body iframe');

                        // загружаем видео в фрейм
                        iframe.src = videoUrl;
                    });

                    // событие, возникающее при закрытии модального окна
                    videoModal.addEventListener('hide.bs.modal', function (event) {
                        // удаляем ссылку на источник видео - останавливаем видео
                        iframe.src = '';
                    });
                }

            </script>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // при загрузке страницы - вешаем обработчики на модальное окно
                    OpenVideoModal('video_modal', 'data-bs-video-url');
                });
            </script>


            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>Про нас</p>
                        <h2>Чому нашій команді подобається працювати в мережі BUFET?</h2>
                    </div>
                    <div class="about-text">
                        <ul>
                            <li>Кар’єрне зростання – 100% наших керуючих піцерією зростали разом з нами, для 80% з них
                                BUFET став першою роботою.
                            </li>
                            <li>Конкурентна заробітна плата – ми цінуємо наших працівників!
                            </li>
                            <li>Всі піцерії розташовані в трафікових місцях – це зручно!
                            </li>
                            <li>Ми запрошуємо працівників без досвіду й навчаємо – у нас є система навчання, як для
                                лінійних посад, так і для керуючих.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-cooking"></i>
                            <h3>Лучшие пицайольі</h3>
                            <p>
                                Пиццайолы Смайла готовят пиццу на тонком тесте изготовленное по оригинальному рецепту.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-vegetable"></i>
                            <h3>Заказ кругльій день</h3>
                            <p>
                                Сделать заказ вашей любимой пиццы вы можете 10:00 до 24:00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>Лучшее качество продуктов</h3>
                            <p>
                                Салаты нашего меню всегда из свежих овощей, а первые блюда - горячие и сытные. В любую
                                погоду мы доставим вам охлажденные безалкогольные напитки!
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-meat"></i>
                            <h3>Свежие ингридиентьі</h3>
                            <p>
                                В нашем меню более 25 видов мясных, рыбных и вегетарианских пицц в диаметре 25, 30 и 40
                                см. Мы готовим пиццу непосредственно после принятия заказа и доставляем ее к вам на стол
                                еще горячей!

                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-courier"></i>
                            <h3>Бесплатная доставка</h3>
                            <p>
                                Оформляйте заказ в службе доставки пиццерии Смайл и мы доставим его вам за 60-120 минут
                                БЕСПЛАТНО* в любую точку города Харькова.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-fruits-and-vegetables"></i>
                            <h3>Все для вас</h3>
                            <p>
                                А сладкоежкам предлагаем попробовать десерты собственного производства, изготовленные
                                только из домашних продуктов.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-header">
                    <p>Чому ми?</p>
                    <h2>Наши особенности</h2>
                </div>
                <div class="feature-text">
                    <div class="feature-img">
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature1.jpg' %}" alt="Буфет">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature2.jpg' %}" alt="Буфет">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature3.jpg' %}" alt="Буфет">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature4.jpg' %}" alt="Буфет">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>