{% load menu_tags contact_tags %}

<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-contact">
                            <h2>Меню</h2>
                            <p>
                                {% get_categories %}
                            </p>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-contact">
                            <h2>Зворотній зв'язок</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Наші кращі фахівці дадуть відповідь в повному обсязі
                                на Ваші питання і знайдуть вихід із ситуації, пов’язаної з нашою піцерією. Ми готові
                                детально розібрати кожне Ваше питання і якщо знадобиться передати його керівництву, а
                                також вислухати побажання і пропозиції. Тут ви можете написати будь-які пропозиції і
                                побажання. Саме ваша думка допомагає нам ставати краще. Діліться вашими враженнями з
                                нами, і разом ми знайдемо найкраще рішення з усіх питань, для нас це дійсно важливо!
                                Оператор гарячої лінії працює по буднях з 9:00 до 18:00, але ви можете зателефонувати в
                                будь-який зручний для вас час і залишити повідомлення на автовідповідач, ми вам
                                обов’язково передзвонимо.</p>


                            <div class="footer-social">
                                <a href="tel:+380505008441"><i class="fas fa-phone"></i></a>
                                <a href="mailto:info@bufet.ua"><i class="fas fa-mail-bulk"></i></a>
                                <a href="https://t.me/bufetua"><i class="fab fa-telegram"></i></a>
                                <a href="viber://chat?number=%2B380505008441"><i class="fab fa-viber"></i></a>
                            </div>
                            {% email_form %}
                        </div>
                    </div>
                </div>
            </div>




<!--            <div class="col-lg-3">-->
<!--                <div class="footer-newsletter">-->
<!--                    <h2>Новини</h2>-->
<!--                    <p>-->
<!--                        Бажаєте отримувати новини-->
<!--                    </p>-->
<!--                    <div class="form">-->
<!--                        {% csrf_token %}-->
<!--                        {{form}}-->
<!--                        <button class="btn custom-btn">Так</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p> Bufet 2022&copy;, Всі права збережені.</p>
            <p>Designed By <a href="#">KoTiC°</a></p>
        </div>
    </div>
</div>
<!-- Footer End -->