{% extends 'base.html' %}
{% load static %}
<body>

{% block content %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Про нас</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-contact text-justify">
                            <img src="{% static 'blog/img/about_us.jpg' %}" alt="food_image"/>
                            <p>
                                BUFET багато років є улюбленим місцем студентів та родин із дітьми. Ми постійно
                                розвиваємося. Наша перша піцерія була відкрита в Харкові у 2002 році. Сьогодні в мережі
                                19 піцерій. Нас легко знайти, адже BUFET завжди знаходиться поруч – у місцях із зручним
                                транспортним сполученням, аби Ви в будь-який час могли насолодитися своїми улюбленими
                                стравами. Серед наших відвідувачів не тільки харків’яни, а й чимало гостей з інших міст
                                України.</p>
                            <h2>Місія</h2>
                            <p>Дарувати радість від ситних смачних страв за демократичною ціною.</p>
                            <h2>Мета</h2>
                            <p>Смачна їжа якісно й швидко.</p>
                            <h2>Цінності</h2>
                            <ul>
                                <li>Постійний розвиток і вдосконалення.</li>
                                <li>Відповідальне ставлення до всього, що ми робимо.</li>
                                <li>Дотримання високих стандартів якості приготування страв та обслуговування.</li>
                            </ul>
                            <p>Ми працюємо задля того, аби кожен відвідувач залишився задоволений. Дотримуємося найвищих
                                стандартів сервісу та якості й проявляємо максимум уваги до кожного відвідувача та його
                                побажань.</p>
                            <ul>
                                <li>Швидке та якісне обслуговування.</li>
                                <li>Послуга попереднього замовлення.</li>
                                <li>Точне виконання замовлення.</li>
                                <li>Ввічливість, увага, дружелюбність і посмішка.</li>
                                <li>Чистота та акуратність.</li>
                                <li>Цілодобова робота.</li>
                                <li>Використовуємо місцеві традиційні продукти харчування.</li>
                                <li>Можливість звернення до «Журналу відгуків і пропозицій» або на сайт мережі BUFET.
                                </li>
                            </ul>
                            <p>Основна страва, яку Вам запропонують у мережі BUFET – це піца. Ми готуємо за власними
                                фірмовими рецептами й на будь-який смак. Тут свою улюблену піцу знайдуть і шанувальники
                                ситних страв, і ті, хто дбає про фігуру й здоровий спосіб життя та рахує калорії. Наша
                                піца дійсно смачна, адже приготована з натуральних якісних продуктів без ГМО, що
                                проходять ретельний контроль якості. Вона подобається всім – і малечі й дорослим.

                                У нашій мережі готують дев’ять видів піци. В «Меню» Ви знайдете інформацію про те, які
                                саме продукти в кожному рецепті. Тісто замішуємо з найкращої муки твердих сортів
                                пшениці. Для приготування піци використовуємо сир «Чеддер». Це натуральний сир
                                виготовлений з молочних продуктів без використання рослинних жирів. Якщо Вам більше
                                подобається піца з м’ясом, помідорами й зеленню – то піца «М’ясна» саме для Вас. Вона
                                користується найбільшою популярністю у наших відвідувачів. Якщо ж Ви віддаєте перевагу
                                рецептам із меншою кількістю калорій – замовте піцу «З грибами», «Курка з ананасом» або
                                «Фітнес».</p>
                            <h2>У НАС НАЙСМАЧНІША ПІЦА В ХАРКОВІ!</h2>
                            <p class="text-justify">Для мережі BUFET важлива думка кожного відвідувача. Завдяки Вам у
                                нас є можливість
                                постійно вдосконалюватися.

                                BUFET – велика команда. Наші співробітники – впевнені та цілеспрямовані особистості,
                                котрі можуть й люблять працювати в команді. Ми цінуємо ініціативу та творчість кожного й
                                надаємо максимум можливостей для реалізації своїх здібностей. Ми завжди раді вітати в
                                команді мережі BUFET ініціативних і відповідальних людей.

                                Ми займаємося упорядкуванням території, аби прогулюючись, Ви могли трохи відпочити й
                                присісти на лавочку біля нашого закладу, а влітку насолодитися прохолодою в тіні дерев.

                                Ми – за активний спосіб життя й всіляко підтримуємо велосипедний рух і стараємося
                                забезпечити комфорт, як для піших гостей, так і для гостей із власним транспортом. Тому
                                обладнали наші заклади стійками для велосипедів. До більшості піцерій BUFET легко
                                під’їхати й на автомобілі, наприклад, за горнятком запашної ранкової кави.

                                Наша компанія не працює за франшизою. Продаж продукції здійснюється тільки через наші
                                піцерії.

                                BUFET – це смачна піца в затишній атмосфері. Будемо раді бачити Вас і ваших друзів та
                                рідних у мережі BUFET. Обслугуємо швидко, нагодуємо смачно й за доступною ціною.</p>

                            <div class="container-fluid">
                                <div class="map-responsive">
                                    <iframe src="https://www.google.com/maps/d/embed?mid=1f9-lHMJgSGihPvU564tMNbLmwxo&z=12"
                                            width="90%" height="450" frameborder="0" style="border:0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header">
                    <p>Адреси й час роботи, та номери для предзамовлення </p>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>пр. Науки, 38</h3>
                            <p>ПН-СБ 8:00-22:00, НД 10:00-22:00</p>
                            <p>Телефон: <strong>099-420-91-54</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>пр. Любові Малої, 24</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>057-777-56-57</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. 23 Серпня, 30</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>095-552-35-74</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>пр. Незалежності, 5-А</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>099-763-04-88</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>пр. Архітектора Альошина, 19</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>050-139-81-48</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Валентинівська, 21</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>066-048-21-28</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Академіка Павлова, 120</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>050-906-64-15</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Пушкінська, 40</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>050-147-68-50</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Пушкінська, 92/1</h3>
                            <p>ПН-СБ 8:00-22:00, НД 10:00-22:00</p>
                            <p>Телефон: <strong>095-485-38-60</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Сумська, 41</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>099-187-83-10</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Чкалова, 2-Д, зупинка 12 тролейбуса</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>066-061-73-25</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Леся Сердюка, 44</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>050-142-56-53</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>пров. Костюринський, 3</h3>
                            <p>ПН-СБ 8:00-22:00, НД 10:00-22:00</p>
                            <p>Телефон: <strong>066-061-35-63</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Полтавський шлях, 126</h3>
                            <p>ПН-СБ 8:00-22:00, НД 10:00-22:00</p>
                            <p>Телефон: <strong>066-061-73-61</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>пр. Московський, 256-Б</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>066-855-41-35</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>Салтівське шосе, 262-Б</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>099-940-53-80</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Культури, 23</h3>
                            <p>ПН-СБ 8:00-22:00, НД 10:00-22:00</p>
                            <p>Телефон: <strong>050-772-73-57</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>пр. Гагаріна, 177</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>095-802-14-78</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>вул. Холодногірська, 2А</h3>
                            <p>цілодобово</p>
                            <p>Телефон: <strong>095-224-72-78</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}

