{% extends 'base.html' %}

<body>

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--                <h2>{{ title }}</h2>-->
                <h2>Меню</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Blog Start 9 блок -->
<div class="blog">
    <div class="container">

        <div class="section-header text-center">
        </div>

        <div class="row">
            {% for menu in menu_list %}

            <div class="col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ menu.image.url }}" alt="{{ menu.title }}">
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title text-center">{{ menu.title }}</h2>
                        <div class="section-header">
                            <p><i class="fa fa-list-alt" aria-hidden="true"></i>{{ menu.category }}</p>
                        </div>
                        <div class="blog-text">
                            <p>
                                <strong>
                                    <i class="flaticon-fast-food" aria-hidden="true"></i>Цена: {{ menu.price}} ₴
                                    <i class="flaticon-cooking-stove"></i>Вес: {{ menu.width }}
                                    <i class="fa fa-list-alt"></i>Калорийность: {{ menu.calories }} на 100гр.
                                </strong></p>
                            <div class="feature-item"><i class="flaticon-cooking"></i></div>

                            <a class="btn custom-btn" href="{{ menu.get_absolute_url }}">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock content %}