<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Меню - офіційний сайт кафе швидкого харчування Буфет в Харкові. Bufet.ua - fast food café.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'blog/img/favicon.ico' %}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% static 'blog/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Template Stylesheet -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <!--        <a href="index.html" class="navbar-brand">Bu <span>Fet</span></a>-->
        <a href="{% url 'home' %}"><img src="{% static 'blog/img/logo.png' %}" alt="bufet" href="index.html"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'home' %}" class="nav-item nav-link">Главная</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">Меню</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">Про нас</a>
                <a href="{% url 'recipe' %}" class="nav-item nav-link">Рецептьі</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->



{% block content %}

<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'blog/img/karusel1.jpg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Многие будущие <span>знаменитости</span> начали свою карьеру с работы с пиццей</h1>
                    <p>
                        Многие известные люди начали с готовки и доставки пиццы. Стивен Болдуин и Билл Мюррей работали в
                        пиццериях, а Жан-Клод Ван Дамм работал доставщиком пиццы.
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="">Меню</a>
                        <a class="btn custom-btn" href="recipe_all/">Рецептьі</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'blog/img/karusel2.jpg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Гавайская пицца была изобретена в <span>Канаде</span> уроженцем <span>Греции</span></h1>
                    <p>
                        Гавайская пицца была изобретена в 1962 году Сэмом Панопулосом, канадским ресторатором греческого
                        происхождения
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="">Меню</a>
                        <a class="btn custom-btn" href="recipe_all/">Рецептьі</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'blog/img/karusel3.jpg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Слово «пицца» датируется <span>997 годом н.э.</span></h1>
                    <p>
                        Слову «пицца» более тысячи лет. Впервые оно было упомянуто в тексте на латинском языке,
                        написанном в южной Италии в 997 году.
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="">Меню</a>
                        <a class="btn custom-btn" href="recipe_all/">Рецептьі</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start 2-block-->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'blog/img/about.jpg' %}" alt="Image">
                    <button href="#" class="btn-play" data-bs-toggle="modal" data-bs-target="#video_modal"
                            data-bs-video-url="https://www.youtube.com/embed/-NIVtXzdDLI"><span></span>
                    </button>

                    <!-- Модальное окно - вызывается с разным содержимым, в зависимости от того, какая кнопка была нажата -->
                    <div class="modal fade" id="video_modal" tabindex="-1" aria-labelledby="videoInterview"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <iframe width="100%" height="450" src="" class="d-block"
                                            title="интервью с клиентами"
                                            frameborder="0" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>



                    </div>
                </div>
<!--                            TODO перенести скрипт модального окна в js файл -->
    <script>
        // 'use strict'


        function OpenVideoModal(htmlId, htmlDataAttr) {

            const videoModal = document.getElementById(htmlId);
            let iframe;

            // событие, возникающее при отображении модального окна
            videoModal.addEventListener('show.bs.modal', function (event) {
                // Кнопка, которая вызвала данный модал
                const button = event.relatedTarget;
                // Вытаскиваем данные из аттрибута data-bs-video-url*
                // в нашем случаем там содержится ссылка на видео
                const videoUrl = button.getAttribute(htmlDataAttr);
                // для отладки - в консоль
                console.log(videoUrl)

                // ссылка на фрейм с видео в разметке
                iframe = videoModal.querySelector('.modal-body iframe');

                // загружаем видео в фрейм
                iframe.src = videoUrl;
            });

            // событие, возникающее при закрытии модального окна
            videoModal.addEventListener('hide.bs.modal', function (event) {
                // удаляем ссылку на источник видео - останавливаем видео
                iframe.src = '';
            });
        }

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // при загрузке страницы - вешаем обработчики на модальное окно
            OpenVideoModal('video_modal', 'data-bs-video-url');
        });
    </script>



            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>Про нас</p>
                        <h2>Чому нашій команді подобається працювати в мережі BUFET?</h2>
                    </div>
                    <div class="about-text">
                        <ul>
                            <li>Кар’єрне зростання – 100% наших керуючих піцерією зростали разом з нами, для 80% з них
                                BUFET став першою роботою.
                            </li>
                            <li>Конкурентна заробітна плата – ми цінуємо наших працівників!
                            </li>
                            <li>Всі піцерії розташовані в трафікових місцях – це зручно!
                            </li>
                            <li>Ми запрошуємо працівників без досвіду й навчаємо – у нас є система навчання, як для
                                лінійних посад, так і для керуючих.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!--&lt;!&ndash; Video Modal Start for 2-block &ndash;&gt;-->
<!--<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-body">-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--                &lt;!&ndash; 16:9 aspect ratio &ndash;&gt;-->
<!--                <div class="embed-responsive embed-responsive-16by9">-->
<!--                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"-->
<!--                            allow="autoplay"></iframe>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Video Modal End &ndash;&gt;-->


<!-- Feature Start 3-block -Чому ми?-->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-cooking"></i>
                            <h3>Лучшие пицайольі</h3>
                            <p>
                                Пиццайолы Смайла готовят пиццу на тонком тесте изготовленное по оригинальному рецепту.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-vegetable"></i>
                            <h3>Заказ кругльій день</h3>
                            <p>
                                Сделать заказ вашей любимой пиццы вы можете 10:00 до 24:00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>Лучшее качество продуктов</h3>
                            <p>
                                Салаты нашего меню всегда из свежих овощей, а первые блюда - горячие и сытные. В любую
                                погоду мы доставим вам охлажденные безалкогольные напитки!
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-meat"></i>
                            <h3>Свежие ингридиентьі</h3>
                            <p>
                                В нашем меню более 25 видов мясных, рыбных и вегетарианских пицц в диаметре 25, 30 и 40
                                см. Мы готовим пиццу непосредственно после принятия заказа и доставляем ее к вам на стол
                                еще горячей!

                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-courier"></i>
                            <h3>Бесплатная доставка</h3>
                            <p>
                                Оформляйте заказ в службе доставки пиццерии Смайл и мы доставим его вам за 60-120 минут
                                БЕСПЛАТНО* в любую точку города Харькова.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-fruits-and-vegetables"></i>
                            <h3>Все для вас</h3>
                            <p>
                                А сладкоежкам предлагаем попробовать десерты собственного производства, изготовленные
                                только из домашних продуктов.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-header">
                    <p>Чому ми?</p>
                    <h2>Наши особенности</h2>
                </div>
                <div class="feature-text">
                    <div class="feature-img">
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature1.jpg' %}" alt="Буфет">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature2.jpg' %}" alt="Буфет">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature3.jpg' %}" alt="Буфет">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'blog/img/feature4.jpg' %}" alt="Буфет">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Testimonial Start 7 коменти -->
<div class="testimonial">
    <div class="container">
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'blog/img/testimonial-1.jpg' %}" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'blog/img/testimonial-2.jpg' %}" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'blog/img/testimonial-3.jpg' %}" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'blog/img/testimonial-4.jpg' %}" alt="Image">
                </div>
                <p>
                    Lorem ipsum dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock content %}

{% include 'blog/inc/_footer.html' %}

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'blog/js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="{% static 'blog/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'blog/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'blog/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'blog/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'blog/mail/jqBootstrapValidation.min.js' %}"></script>
<script src="{% static 'blog/mail/contact.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'blog/js/main.js' %}"></script>
                            <!--TODO перенести скрипт в js-->
<script type="text/javascript">
   $(function () {
    $('.navbar-nav a').each(function () {
        var location = window.location.href
        var link = this.href
        if (location == link) {
            $(this).addClass('active');
        }
    });
});

</script>

</body>
</html>
