<div class="testimonial">
    <div class="container">
        <div class="owl-carousel testimonials-carousel">
            {% if list_comment %}
            {% for comment in list_comment %}
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="/static/blog/img/avatar.jpg" alt="Image">
                </div>
                <p>
                    {{comment.message|truncatewords:20}}
                </p>
                <h2>{{comment.name}}</h2>
                <h3>{{comment.create_at}}</h3>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>